# This service exists to call an email-sending script. Default installation
# will set it as the `OnFailure` unit for every unit on the system.
#
# Another option is to use it with only some units by manually removing the
# `...service.d/toplevel-override.conf` and
# `...failmsg@.service.d/toplevel-override.conf` files and set it for specific
# units like:
#
# [Unit]
# OnFailure=failmsg@%n.service
#
# Note: This is a template unit, it's not necessary to enable or start it
#
# %n is the full unit name
# %i is the instance name, the string between the first @ and the type suffix
# See 'man systemd.unit', 'man systemd.service'
#
# To test this service, start it with a dummy service name. If failmsg.sh is
# also working, it should send an email:
#
#   # systemctl start failmsg@foo.service.service

[Unit]
Description=Failure message email for %i
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/failmsg.sh %i
